---
layout: default
robots: noindex
---

<link rel="stylesheet" href="/about.css" />
<div>
  {% assign about = site.data.about %}
  <div class="scroll-animation in-view">
    <div class="about-me-title">About Me</div>
    <div class="about-me-content">
      <p class="about-me-text">
        전기 및 전자공학부를 전공하고, 전산학부를 복수 전공한 정 희
        집ㅂㄴ이비ㅣ니당
      </p>
    </div>
  </div>

  <!-- Projects -->
  <div class="scroll-animation in-view">
    <div class="about-title">Projects</div>
    <div class="about-labs-link">
      <a href="/project"> → Go to Project Page </a>
    </div>
    <div class="about-projects">
      {% for project in site.data.project reversed%}
      <div class="about-project">
        <div class="about-project-name">{{project.title}}</div>

        <div class="about-project-preview">
          {% if project.video %}
          <iframe
            class="about-project-demo"
            src="{{project.video}}"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
          {% else %}
          <div
            class="about-project-demo about-project-figure"
            style="background-image: url({{project.img}});"
          ></div>
          {% endif %}
        </div>

        <div class="about-project-section">
          <div class="about-project-detail">
            <div class="about-project-subtitle">기간</div>
            <div>{{project.start_date}} - {{project.end_date}}</div>
          </div>
          <div class="about-project-detail">
            <div class="about-project-subtitle">개발 환경</div>
            <div>
              {% for tag in project.tags %}
              <span class="about-project-env"
                >{{ tag }}{% if forloop.last == false %}&nbsp{% endif %}</span
              >{% endfor %}
            </div>
          </div>
          <div class="about-project-detail">
            <div class="about-project-subtitle2">설명</div>
            <div>{{project.desc}}</div>
          </div>
          <div>
            {% if project.repo %}
            <a
              class="about-project-link"
              target="_blank"
              href="{{ project.repo }}"
              ><i class="fa fa-external-link"></i
              ><span class="project-url">repo</span>&emsp;</a
            >{% endif %} {% if project.code %}
            <a
              class="about-project-link"
              target="_blank"
              href="{{ project.code }}"
              ><i class="fa fa-code"></i
              ><span class="project-url">code</span>&emsp;</a
            >{% endif %} {% if project.docs %}
            <a
              class="about-project-link"
              target="_blank"
              href="{{ project.docs }}"
              ><i class="fa fa-file-text-o"></i
              ><span class="project-url">docs</span>&emsp;</a
            >{% endif %} {% if project.demo %}
            <a
              class="about-project-link"
              target="_blank"
              href="{{ project.demo }}"
              ><i class="fa fa-video-camera"></i
              ><span class="project-url">demo</span></a
            >
            {% endif %}
          </div>
          <div class="about-project-detail-link">
            <a href="/project/{{ project.name }}">
              → Go to the detailed page
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- Labs -->
  <div class="scroll-animation in-view">
    <div class="about-title">Labs</div>
    <div class="about-labs-link">
      <div class="about-labs-desc">Mini project / Academic activity</div>
      <a href="/lab"> → Go to Lab Page </a>
    </div>
    <div class="about-labs">
      {% for labs in site.data.lab reversed%}
      <span
        onclick="openPopup({{ forloop.index }})"
        class="about-lab"
        style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{labs.img}});"
        >{{labs.title}}</span
      >
      {% endfor %}
    </div>
  </div>

  <!-- Labs Popup -->
  {% for labs in site.data.lab %}
  <div id="layer-bg{{ forloop.index }}" class="layer-bg hidden">
    <div class="popup">
      <!-- 제목 -->
      <div class="popup-header">
        <span class="popup-title">{{labs.title}}</span>
        <span class="popup-close" onclick="closePopup({{ forloop.index }})"
          >X</span
        >
      </div>
      <!-- 날짜 -->
      <div class="project-dates">
        <span class="project-date">{{ labs.start_date }}</span>
        <span class="project-date"> - </span>
        <span class="project-date">{{ labs.end_date }}</span>
      </div>
      <!-- tag -->
      <div class="post-meta">
        {% if labs.tags.size > 0 %}
        <div class="popup-post-tags">
          {% for tag in labs.tags %}
          <span class="popup-post-tag">{{ tag }}</span>
          {% if forloop.last == false %}&nbsp{% endif %}{% endfor %}
        </div>
        {% endif %}
      </div>
      <!-- image -->
      <div class="popup-image-div">
        <img class="popup-image" src="{{ labs.img }}" alt="" />
      </div>
      <div class="timeline-body">
        <!-- 설명 -->
        <div class="popup-timeline-desc">{{ labs.desc }}</div>
        <!-- lab -->
        <div class="ghbtn" style="margin-top: 10px">
          {% for lab in labs.lab %}
          <div>
            <a
              id="popup-link{{ forloop.index }}"
              class="popup-timeline-desc"
              href="/lab/{{labs.name}}/{{lab.name}}"
              >{{lab.title}}</a
            >&emsp;
          </div>
          {% endfor %}
        </div>
        <!-- 링크 -->
        <div class="popup-timeline-link">
          <a href="{{ labs.link }}" target="_blank"> → Go to Github </a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <!-- Skills -->
  <div class="scroll-animation in-view">
    <div class="about-title">Skills</div>
    <div class="about-skills">
      {% for skill in about.skill %}
      <span class="about-skill">{{skill}}</span>
      {% endfor %}
    </div>
  </div>

  <!-- Certificates -->
  <div class="scroll-animation in-view">
    <div class="about-title">Certificates</div>
    <table class="about-certificates">
      <tr>
        <th>자격증</th>
        <th>점수</th>
        <th>날짜</th>
      </tr>
      {% for certificate in about.certificate %}
      <tr>
        <td>{{certificate.name}}</td>
        <td>{{certificate.score}}</td>
        <td>{{certificate.date}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <!-- History -->
</div>

<script>
  window.addEventListener("scroll", function () {
    var elements = document.querySelectorAll(".scroll-animation");

    for (var i = 0; i < elements.length; i++) {
      var element = elements[i];
      var position = element.getBoundingClientRect();

      // 스크롤 화면에 나타날 때
      if (position.bottom >= 0 && position.top <= window.innerHeight) {
        element.classList.add("in-view");
        element.classList.remove("out-of-view");
      } else {
        // 스크롤 화면에서 사라질 때
        element.classList.add("out-of-view");
        element.classList.remove("in-view");
      }
    }
  });
</script>
<script>
  function openPopup(idx) {
    const background = document.getElementById("layer-bg" + idx);

    background.classList.remove("hidden");
    background.classList.add("visible");
  }
  function closePopup(idx) {
    const background = document.getElementById("layer-bg" + idx);

    background.classList.remove("visible");
    background.classList.add("hidden-animation");
    setTimeout(function () {
      background.classList.remove("hidden-animation");
      background.classList.add("hidden");
    }, 300); // 애니메이션 시간과 동일한 시간을 설정해주세요.
  }
</script>
