<span class="mobile btn-mobile-menu">
  <i class="icon icon-list btn-mobile-menu__icon"></i>
  <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i>
</span>

<header
  class="panel-cover {% if site.disable_landing_page %}panel-cover--collapsed{% endif %}"
  style="background-image: url({{ site.baseurl }}/images/cover.jpg)"
>
  <div class="panel-main">
    <div class="panel-main__inner panel-inverted">
      <div class="panel-main__content">
        <a href="{{ site.baseurl }}/" title="link to home of {{ site.title }}">
          <img
            src="{{ site.baseurl }}/images/profile.jpg"
            class="user-image"
            alt="My Profile Photo"
          />
          <h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
        </a>
        <hr class="panel-cover__divider" />
        <p class="panel-cover__description">{{ site.description }}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary" />
        <!-- About -->
        <div class="navigation-wrapper">
          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item">
                <a
                  href="{{ site.baseurl }}/#blog"
                  title="link to {{ site.title }} blog"
                  class="blog-button"
                  >About</a
                >
              </li>
            </ul>
          </nav>
          <!-- Project -->
          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item">
                <a
                  href="{{ site.baseurl }}/project"
                  title="link to {{ site.title }} projects"
                  class="blog-button projects-button"
                  >Project</a
                >
              </li>
            </ul>
          </nav>
          <!-- Lab -->
          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item">
                <a
                  href="{{ site.baseurl }}/lab"
                  title="link to {{ site.title }} labs"
                  class="blog-button projects-button"
                  >Lab</a
                >
              </li>
            </ul>
          </nav>
          <!-- Actibity -->
          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item">
                <a
                  href="{{ site.baseurl }}/activity"
                  title="link to {{ site.title }} activities"
                  class="blog-button projects-button"
                  >Activity</a
                >
              </li>
            </ul>
          </nav>

          <!-- Blog -->
          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item">
                <a
                  href="#"
                  onclick="window.open('https://velog.io/@chunjakim', '_blank');"
                  title="link to {{ site.title }} blog"
                  class="blog-button projects-button"
                  >Blog</a
                >
              </li>
            </ul>
          </nav>

          <nav class="cover-navigation navigation--social">
            <ul class="navigation">
              {% if site.author.github_username %}
              <!-- GitHub -->
              <li class="navigation__item">
                <a
                  href="https://www.github.com/{{ site.author.github_username }}"
                  title="{{ site.author.github_username }} on GitHub"
                  target="_blank"
                >
                  <i class="icon icon-social-github"></i>
                  <span class="label">GitHub</span>
                </a>
              </li>
              {% endif %} {% if site.author.email %}
              <!-- Email -->
              <li class="navigation__item">
                <a
                  href="mailto:{{ site.author.email }}"
                  title="Email {{ site.author.email }}"
                  target="_blank"
                >
                  <i class="icon icon-mail"></i>
                  <span class="label">Email</span>
                </a>
              </li>
              {% endif %} {% if site.author.email %}
              <!-- YouTube -->
              <li class="navigation__item">
                <a
                  href="https://www.github.com/{{ site.author.github_username }}"
                  title="Email {{ site.author.youtube }}"
                  target="_blank"
                >
                  <i class="icon icon-social-youtube"></i>
                  <span class="label">youtube</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
