.activity-list {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  padding: 60px 10px;
  box-sizing: border-box;
  min-height: 200px;
  box-shadow: 2px 2px 2px 3px #cccccc;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    // 마우스를 올렸을 때의 스타일
    box-shadow: 7px 7px 20px 3px #cccccc;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
  }
}

.activity-piano::after {
  width: 100%;
  height: 100%;
  content: "";
  background: url("/assets/piano.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
}

.activity-book::after {
  width: 100%;
  height: 100%;
  content: "";
  background: url("/assets/book.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
}

.activity-photography::after {
  width: 100%;
  height: 100%;
  content: "";
  background: url("/assets/photography.jpg");
  background-size: cover;
  background-position: 0% 30%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
}

.activity-sublist {
  text-align: center;
  min-height: 30px;
}
.activity-sublist a {
  color: #999999;
  &:hover {
    color: #b9301c;
    font-size: 15.3px;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
  }
}
.project-post-date {
  display: flex;
  justify-content: end;
}
.project-post-tags {
  margin-top: 10px;
  display: flex;
  justify-content: end;
  flex-flow: row wrap;
}

.project-post-tag {
  color: #e25440;
  border: 1px solid #e25440;
  border-radius: 20px;
  padding: 7px 7px;
  margin: 3px 0;
  font-size: 13px;
}

.project-post-title {
  text-align: center;
  margin: 40px 0 50px;
}

.project-timeline-desc {
  font-size: 13px;
}

.project-timeline-ul {
  margin: 0;
}

.project-url {
  margin-left: 5px;
}

.project-link {
  display: inline-block;
}

.layer-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 10000;
}

.popup {
  position: absolute;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 700px;
  max-height: 70%;
  background: #fff;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.visible {
  animation: fadeIn 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

.hidden-animation {
  animation: fadeOut 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

.hidden {
  display: none;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  margin-bottom: 7px;
}

.popup-title {
  color: #e25440;
}

.popup-close {
  cursor: pointer;
  padding: 5px 10px;
}

.project-date {
  font-size: 12px;
}

.project-dates {
  text-align: end;
}

.popup-post-tags {
  margin-top: 10px;
  display: flex;
  justify-content: end;
  flex-flow: row wrap;
}

.popup-post-tag {
  color: #e25440;
  border: 1px solid #e25440;
  border-radius: 20px;
  padding: 4px 4px;
  margin: 3px 0;
  font-size: 10px;
}

.popup-timeline-desc {
  font-size: 13px;
  line-height: 1.5;
}

.popup-timeline-link {
  text-align: end;
  font-size: 15px;
}

.project-title {
  cursor: pointer;
}

.popup-image {
  width: 100%;
  border-radius: 20px;
}

.popup-image-div {
  padding: 10px;
}

sub {
  /* <sub> 태그에 적용할 스타일 */
  font-size: 0.8em; /* 폰트 크기를 줄여서 아래 첨자로 표시 */
  vertical-align: sub; /* 텍스트를 기준선 아래로 정렬 */
}

sup {
  /* <sup> 태그에 적용할 스타일 */
  font-size: 0.8em; /* 폰트 크기를 줄여서 위 첨자로 표시 */
  vertical-align: super; /* 텍스트를 기준선 위로 정렬 */
}

.about-title {
  font-size: 30px;
  text-align: center;
  margin: 150px 0 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #666;
}

.about-me-title {
  font-size: 30px;
  text-align: center;
  margin: 30px 0 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #666;
}

.about-me-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/about/AboutMe.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 800px;
  box-sizing: border-box;
  padding: 10vw;
  color: white;
}

.about-me-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 20px;
}

.about-me-ko {
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 15px;
}

.about-me-eng {
  font-size: 40px;
  font-weight: bold;
  margin: 15px 0 40px;
}

.about-me-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.about-me-user {
  margin-left: 10px;
  color: white;
}

.about-me-link {
  margin-left: 10px;
  color: white;
}

.about-me-link:hover {
  color: white;
}

.user-icon::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(/images/icon/user.png);
  background-size: cover;
  vertical-align: middle;
}

.github-icon::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(/images/icon/github.png);
  background-size: cover;
  vertical-align: middle;
}

.youtube-icon::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(/images/icon/youtube.png);
  background-size: cover;
  vertical-align: middle;
}

.velog-icon::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(/images/icon/velog.png);
  background-size: cover;
  vertical-align: middle;
}

.instagram-icon::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(/images/icon/instagram.png);
  background-size: cover;
  vertical-align: middle;
}

.mail-icon::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(/images/icon/mail.png);
  background-size: cover;
  vertical-align: middle;
}

.about-me-timeline {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.about-me-date {
  font-weight: bolder;
}

.about-me-story {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.about-projects {
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.about-project {
  display: flex;
  flex-flow: column;
  background-color: #202020;
}

.about-project-name {
  color: white;
  text-align: center;
  padding: 20px 0;
  margin: 0 40px;
  font-size: 24px;
  border-bottom: 1px solid white;
}
.about-project-preview {
  padding: 20px 40px;
}
.about-project-demo {
  width: 100%;
  height: 500px;
}

.about-project-figure {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media all and (max-width: 700px) {
  .about-project-demo {
    height: 300px;
  }
}

@media all and (min-width: 1500px) {
  .about-project-demo {
    height: 700px;
  }
}
.about-project-section {
  padding: 0 40px 20px;
  display: flex;
  flex-flow: column;
  gap: 10px;
}
.about-project-detail {
  color: white;
  display: flex;
  gap: 10px;
  line-height: 1.5;
}

.about-project-subtitle {
  padding: 0 10px 0 0;
  border-right: 2px solid white;
  min-width: 75px;
}

.about-project-subtitle2 {
  display: none;
}

@media all and (max-width: 700px) {
  .about-project-detail {
    flex-flow: column;
  }
  .about-project-subtitle {
    border-right: none;
    padding: 0;
    border-bottom: 2px solid white;
  }
  .about-project-subtitle2 {
    display: block;
    border-right: none;
    padding: 0;
    border-bottom: 2px solid white;
  }
}

.about-project-env {
  display: inline-block;
}

.about-project-link {
  display: inline-block;
  color: #dfbdb9;
}

.about-project-link:hover {
  color: #e47569;
}

.about-project-detail-link {
  text-align: end;
}

.about-labs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
}

.about-labs-link {
  text-align: end;
  margin-bottom: 20px;
}

.about-labs-desc {
  text-align: center;
  margin-bottom: 10px;
}

.about-lab {
  display: inline-block;
  padding: 10px;
  width: 300px;
  min-height: 150px;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  color: white;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: font-size 0.2s;
}

.about-lab:hover {
  font-size: 17px;
}

.about-skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
}

.about-skill {
  display: inline-block;
  border: 1px solid #e25440;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  text-align: center;
  transition: background-color 1s;
}

.about-skill:hover {
  background-color: #e25440;
  color: #fff;
}

.about-certificates {
  width: 100%;
  box-shadow: 2px 2px 10px 3px #cccccc5e;
}

.about-certificates th {
  padding: 12px;
}

.about-certificates tr:nth-child(even) td {
  background-color: #e253408a;
  color: white;
}

.about-certificates tr:nth-child(odd) td {
  background-color: #fff;
}

.scroll-animation {
  opacity: 0;
}

@keyframes scroll-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scroll-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.scroll-animation.in-view {
  animation: scroll-fade-in 0.7s ease-in forwards;
}

.scroll-animation.out-of-view {
  animation: scroll-fade-out 0.7s ease-out forwards;
}

@media (max-width: 340px) {
  .page-btn {
    display: block;
    margin-bottom: 0.4em;
  }
}

.page-btn {
  white-space: nowrap;
  line-height: 2;
  padding: 10px 20px;
  border: 1px solid #e25440;
  border-radius: 20px;
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: none;
  color: #e25440;
  -webkit-font-smoothing: antialiased;
}
