---
layout: default
---

<div class="main-post-list">
  <ol class="post-list">
    <li class="activity-list activity-piano">
      <h2 class="post-list__post-title post-title"><a>Piano</a></h2>
      <div class="excerpt">
        <div class="activity-sublist">安貧樂道</div>
        <div class="activity-sublist">PIAST</div>
      </div>
    </li>
    <!-- <li class="activity-list activity-book">
      <h2 class="post-list__post-title post-title"><a>Book</a></h2>
      <div class="excerpt">
        <div class="activity-sublist"><a>Web</a></div>
        <div class="activity-sublist"><a>App</a></div>
        <div class="activity-sublist"><a>Big Data</a></div>
        <div class="activity-sublist"><a>AI</a></div>
        <div class="activity-sublist"><a>Game</a></div>
        <div class="activity-sublist"><a>Programming</a></div>
        <div class="activity-sublist"><a>Language</a></div>
        <div class="activity-sublist"><a>Economics</a></div>
      </div>
    </li>
    <li class="activity-list activity-photography">
      <h2 class="post-list__post-title post-title"><a>Photography</a></h2>
    </li> -->
  </ol>
</div>
