---
layout: default
---

<div></div>
<ul class="timeline project-timeline-ul">
  {% for labs in site.data.lab %}
  <!-- labs 시작 -->

  <!-- 목록 -->
  <li class="timeline-inverted">
    <!-- 이미지 -->
    <div class="timeline-image">
      <img class="img-me" src="{{ labs.preview_img }}" alt="" />
    </div>
    <div class="timeline-panel">
      <!-- 제목과 날짜 -->
      <div class="timeline-heading">
        <h4>
          <a class="project-title" onclick="openPopup({{ forloop.index }})"
            >{{ labs.title }}</a
          >
        </h4>
        <div class="project-dates">
          <span class="project-date">{{ labs.start_date }}</span>
          <span class="project-date"> - </span>
          <span class="project-date">{{ labs.end_date }}</span>
        </div>
      </div>
      <div class="timeline-body">
        <!-- 설명 -->
        <div class="project-timeline-desc">{{ labs.desc}}</div>
        <!-- lab -->
        <div class="ghbtn" style="margin-top: 10px">
          {% for lab in labs.lab %}
          <div>
            <a
              id="popup-link{{ forloop.index }}"
              class="project-timeline-desc"
              href="/lab/{{labs.name}}/{{lab.name}}"
              >{{lab.title}}</a
            >&emsp;
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </li>

  <!-- 팝업 -->
  <div id="layer-bg{{ forloop.index }}" class="layer-bg hidden">
    <div class="popup">
      <!-- 제목 -->
      <div class="popup-header">
        <span class="popup-title">{{labs.title}}</span>
        <span class="popup-close" onclick="closePopup({{ forloop.index }})"
          >X</span
        >
      </div>
      <!-- 날짜 -->
      <div class="project-dates">
        <span class="project-date">{{ labs.start_date }}</span>
        <span class="project-date"> - </span>
        <span class="project-date">{{ labs.end_date }}</span>
      </div>
      <!-- tag -->
      <div class="post-meta">
        {% if labs.tags.size > 0 %}
        <div class="popup-post-tags">
          {% for tag in labs.tags %}
          <span class="popup-post-tag">{{ tag }}</span>
          {% if forloop.last == false %}&nbsp{% endif %}{% endfor %}
        </div>
        {% endif %}
      </div>
      <!-- image -->
      <div class="popup-image-div">
        <img class="popup-image" src="{{ labs.img }}" alt="" />
      </div>
      <div class="timeline-body">
        <!-- 설명 -->
        <div class="popup-timeline-desc">{{ labs.desc }}</div>
        <!-- lab -->
        <div class="ghbtn" style="margin-top: 10px">
          {% for lab in labs.lab %}
          <div>
            <a
              id="popup-link{{ forloop.index }}"
              class="popup-timeline-desc"
              href="/lab/{{labs.name}}/{{lab.name}}"
              >{{lab.title}}</a
            >&emsp;
          </div>
          {% endfor %}
        </div>
        <!-- 링크 -->
        <div class="popup-timeline-link">
          <a href="{{ labs.link }}" target="_blank"> → Go to Github </a>
        </div>
      </div>
    </div>
  </div>

  <!-- labs 끝 -->
  {% endfor %}
</ul>
<script>
  function openPopup(idx) {
    const background = document.getElementById("layer-bg" + idx);

    background.classList.remove("hidden");
    background.classList.add("visible");
  }
  function closePopup(idx) {
    const background = document.getElementById("layer-bg" + idx);

    background.classList.remove("visible");
    background.classList.add("hidden-animation");
    setTimeout(function () {
      background.classList.remove("hidden-animation");
      background.classList.add("hidden");
    }, 300); // 애니메이션 시간과 동일한 시간을 설정해주세요.
  }
</script>
