---
layout: default
---

{% if page.category == "project" %}
<article class="post-container post-container--single">
  {% assign project = site.data.project[page.index] %}
  <header class="post-header">
    <!-- <div class="post-meta">
      <div class="project-post-date">{{ project.start_date }} - {{ project.end_date }}</div>
      {% if project.tags.size > 0 %}
      <div class="project-post-tags"
        >{% for tag in project.tags %}<span class="project-post-tag"
          >{{ tag }}</span
        >{% if forloop.last == false %}&nbsp{% endif %}{% endfor %}</span
      >
      {% endif %}
    </div>
    <h3 class="post-title project-post-title">{{ project.title }}</h3> -->
  </header>
  <section class="post">{{ content }}</section>
</article>
{% endif %}

<!-- lab -->
{% if page.category == "lab" %}
<article class="post-container post-container--single">
  {% assign lab = site.data.lab[page.index].lab[page.num] %}
  <!-- header -->
  <header class="post-header">
    <!-- tag -->
    <div class="post-meta">
      {% if lab.tags.size > 0 %}
      <div class="project-post-tags">
        {% for tag in lab.tags %}
        <span class="project-post-tag">{{ tag }}</span>
        {% if forloop.last == false %}&nbsp{% endif %}{% endfor %}
      </div>
      {% endif %}
    </div>
    <!-- title -->
    <h3 class="post-title project-post-title">{{lab.title}}</h3>
  </header>
  <!-- content -->
  <section class="post">{{ content }}</section>
</article>
{% endif %}
