---
layout: default
---

{% if page.category == "project" %}
<article class="post-container post-container--single">
  {% assign project = site.data.project[page.index] %}
  <!-- header -->
  <header class="post-header">
    <!-- tag -->
    <div class="post-meta">
      {% if project.tags.size > 0 %}
      <div class="project-post-tags">
        {% for tag in project.tags %}
        <span class="project-post-tag">{{ tag }}</span>
        {% if forloop.last == false %}&nbsp{% endif %}{% endfor %}
      </div>
      {% endif %}
    </div>
    <!-- title -->
    <h3 class="post-title project-post-title">{{project.title}}</h3>
  </header>
  <!-- content -->
  <section class="post">{{ content }}</section>
</article>
{% endif %}

<!-- lab -->
{% if page.category == "lab" %}
<article class="post-container post-container--single">
  {% assign lab = site.data.lab[page.index].lab[page.num] %}
  <!-- header -->
  <header class="post-header">
    <!-- tag -->
    <div class="post-meta">
      {% if lab.tags.size > 0 %}
      <div class="project-post-tags">
        {% for tag in lab.tags %}
        <span class="project-post-tag">{{ tag }}</span>
        {% if forloop.last == false %}&nbsp{% endif %}{% endfor %}
      </div>
      {% endif %}
    </div>
    <!-- title -->
    <h3 class="post-title project-post-title">{{lab.title}}</h3>
  </header>
  <!-- content -->
  <section class="post">{{ content }}</section>
  <!-- paging -->
  <nav class="pagination" role="navigation">
    {% assign labSize = site.data.lab[page.index].lab.size %} {% assign
    labLastIdx = labSize | minus: 1 %} {% assign labPrevIdx = page.num | minus:
    1 %} {% assign prevLab = site.data.lab[page.index].lab[labPrevIdx] %}{%
    assign labNextIdx = page.num | plus: 1 %} {% assign nextLab =
    site.data.lab[page.index].lab[labNextIdx] %}{% assign labsName =
    site.data.lab[page.index].name %}{% if page.num != 0 %}
    <a class="page-btn" href="/lab/{{labsName}}/{{prevLab.name}}"
      >← {{prevLab.title}}</a
    >
    {% endif %} {% if page.num != labLastIdx %}
    <a class="page-btn" href="/lab/{{labsName}}/{{nextLab.name}}"
      >{{nextLab.title}} →</a
    >
    {% endif %}
  </nav>
</article>
{% endif %}
