---
layout: default
---

<div></div>
<ul class="timeline project-timeline-ul">
  {% for project in site.data.project %}

  <li class="timeline-inverted">
    <div class="timeline-image">
      <img class="img-me" src="{{ project.img }}" alt="" />
    </div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4>
          <a href="{{ site.baseurl }}/project/{{ project.name }}"
            >{{ project.title }}</a
          >
        </h4>
        <div class="project-dates">
          <span class="project-date">{{ project.start_date }}</span>
          <span class="project-date"> - </span>
          <span class="project-date">{{ project.end_date }}</span>
        </div>
      </div>
      <div class="timeline-body">
        <span class="project-timeline-desc"
          >{% if project.desc %} {{ project.desc}} {% endif %}</span
        >
        <div class="ghbtn" style="margin-top: 10px">
          {% if project.link %}
          <a target="_blank" href="{{ project.link }}"
            ><i class="fa fa-external-link"></i
            ><span class="project-url">link</span></a
          >&emsp; {% endif %} {% if project.code %}
          <a target="_blank" href="{{ project.code }}"
            ><i class="fa fa-code"></i><span class="project-url">code</span></a
          >&emsp; {% endif %} {% if project.report %}
          <a target="_blank" href="{{ project.report }}"
            ><i class="fa fa-file-text"></i
            ><span class="project-url">report</span></a
          >&emsp; {% endif %} {% if project.video %}
          <a target="_blank" href="{{ project.video }}"
            ><i class="fa fa-video-camera"></i
            ><span class="project-url">video</span></a
          >
          {% endif %}
          <div style="height: 10px"></div>
        </div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
